.home {
  background-image: url('../../assets/tupian/bg/Screenshot.png');
  width: 100%;
  height: calc(100vh);
  margin-top: -80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-content {
  background: rgba(250, 13, 13, 0.6);
  width: 100%;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-title {
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-title h3 {
  font-size: 24px;
}

.home-title p {
  font-size: 16px;
}

.home-btn {
  margin-top: 30px;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 37px;
  box-shadow: 2px 3px 4px #ced3f7, -2px -3px 4px #eeeef3;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.home-btn:hover{
 color: yellow;
}

.home-btn:hover {
  box-shadow: 3px 4px 5px #ced3f7, -3px -4px 5px #eeeef3;
}