.skillbar {
  position: relative;
  display: block;
  max-width: 360px;
  margin: 15px auto;
  background: #eee;
  height: 30px;
  border-radius: 35px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.skillBar-title {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 360px;
  font-size: 0.9rem;
  color: #ffffff;
  border-radius: 35px;
}

.skillBar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  border-radius: 35px;
}

.skillBar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
}