.experience-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.experience-list-item {
  cursor: pointer;
  width: 400px;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  border-radius: 16px;
  color: #fff;
  font-size: 14px;
  margin-top: 30px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.experience-list-item:hover {
  transform: scale(1.04);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.experience-list-item img {
  width: 400px;
  height: 300px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.experience-list-item h6 {
  margin: 16px;
  font-size: 20px;
}

.experience-list-item-skill {
  display: flex;
  align-items: center;
  margin: 16px;
}

.experience-list-item-skill span {
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #cfc7f8;
  margin: 0 8px;
}

.experience-list-item-desc {
  margin: 16px;
  padding-bottom: 20px;
}

@media screen and (max-width: 980px) {
  .experience-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .experience-list-item {
    cursor: pointer;
    width: 100%;
    background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
    border-radius: 16px;
    color: #fff;
    font-size: 14px;
  }
  
  .experience-list-item img {
    width: 100%;
    height: 200px;
  }
}
  