.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  color: #fff;
  z-index: 10000;
}

.header-logo {
  margin-left: 30px;
}

.header-list {
  display: flex;
  margin: auto 20px;
}

.header-list-item {
  margin: 0 20px;
  cursor: pointer;
}

.header-list-item:hover{
  color: yellow;
}

.header-top {
  background: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  color: #fff;
}